body, ul, li, p {
    margin: 0;

    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    background-image: url(../imgs_projeto/perso.jpg);
    filter: grayscale(50%);
}
a{
    text-decoration: none;
}
html {
    width: 100%;
    height: 100%;
    
}
.ul2{
    padding-left: 450px;
}
.cabecario{
    display: flex;
    background-color: #0b1e35;
    flex-wrap: nowrap;
    height: 137px;
    align-items: center;
    justify-content: space-between;
}    
.menu.ul1 li a{
        padding-left: 550px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
}    
.menu li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}
.menu li a {
    color: white;
    display: block;
    padding: 10px;
}
@media screen {
}
.container{
    background-color:#0b1e35;
    height: 80vh;
    margin: 20px;
    opacity: 0.98;
    border-radius: 15px;
}
.body{
    background-image: url(../imgs_projeto/perso.jpg);
    filter: grayscale(50%);
}