* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  transition: 0.3s;
  font-family: 'Inter', sans-serif;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

button {
  border: none; 
  background: none; 
  outline: none;
  padding: 0; 
  cursor: pointer;
}

.modi{
    color: white;
}

.jj{
   display: flex;
    flex-direction: column;
    padding-left: 40px;
    
}
.menu-vertical {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 215px;
  background-color: #000000;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.menu-vertical .logo {
  width: 150px;
  margin-bottom: 30px;
}

.menu-vertical nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu-vertical nav ul li {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.menu-vertical nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px;
  transition: background 0.3s;
}

.menu-vertical nav ul li a:hover {
  background-color: #8783833d;
  border-left: 4px solid white;
}
.menu-vertical .submenu-toggle:hover {
  background-color: #8783833d;
  border-left: 4px solid white;
}


.menu-vertical nav ul li img {
  width: 30px;
}

.github-icon {
  width: 70px;
  margin-top: 40px;
}
.mudar-cor{
  width: 75px; 
}
.conteudo {
  margin-left: 220px;
  padding: 30px;
  flex: 1;
}


.estrela {
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
}

.estrela.selecionada {
  color: #ffc107;
}


.game-card {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
    }

    .game-card img {
      width: 100%;
      height: auto;
      display: block;
    }

    .game-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      text-align: center;
      padding: 10px;
      opacity: 0;
      transition: opacity 0.3s ease;
      font-weight: bold;
    }

    .game-card:hover .game-title {
      opacity: 1;
    }

.menu-vertical ul {
  padding-left: 0;
  list-style: none;
}

.menu-vertical li {
  margin-bottom: 15px;
}



.menu-vertical a,
.menu-vertical button {
  display: block;
  padding: 10px;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.submenu {
  display: none;
  list-style: none;
  padding-left: 20px;
  margin-top: 5px;
}

.submenu li a {
  padding: 8px 10px;
  display: block;
  font-size: 14px;
}

.submenu.show {
  display: block;
}
a, button, .card, .submenu {
  transition: all 0.5s ease-in-out;
}
.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.btn-primary {
  background-color: blue;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #355ee6;
}